# Team Assignment - the descriptive Task

#### First Step: Importing

In [37]:
# ----------- GPU acceleration - use pandas if you don't got a nvidia gpu -----------
#import pandas as pd
import cudf as pd

# install packages with "conda install -c nvidia -c rapidsai -c numba -c conda-forge -c defaults cudf" 
# ----------- GPU acceleration - end -----------

from datetime import datetime, timedelta

chg17 = pd.read_csv("chicago_2017.csv")

ModuleNotFoundError: No module named 'cudf'

#### Second Step: Validate and review the Data

In [2]:
chg17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3829014 entries, 0 to 3829013
Data columns (total 8 columns):
 #   Column              Dtype
---  ------              -----
 0   start_time          object
 1   end_time            object
 2   start_station_id    int64
 3   end_station_id      int64
 4   start_station_name  object
 5   end_station_name    object
 6   bike_id             int64
 7   user_type           object
dtypes: int64(3), object(5)
memory usage: 233.7+ MB

In [3]:
# chg17.describe()

In [4]:
chg17.head()

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type
0,3/31/2017 23:59:07,4/1/2017 00:13:24,66,171,Clinton St & Lake St,May St & Cullerton St,5292,Subscriber
1,3/31/2017 23:56:25,4/1/2017 00:00:21,199,26,Wabash Ave & Grand Ave,McClurg Ct & Illinois St,4408,Subscriber
2,3/31/2017 23:55:33,4/1/2017 00:01:21,520,432,Greenview Ave & Jarvis Ave,Clark St & Lunt Ave,696,Subscriber
3,3/31/2017 23:54:46,3/31/2017 23:59:34,110,142,Dearborn St & Erie St,McClurg Ct & Erie St,4915,Subscriber
4,3/31/2017 23:53:33,4/1/2017 00:00:28,327,331,Sheffield Ave & Webster Ave,Halsted St & Blackhawk St (*),4247,Subscriber

Let's have a look at empty values

In [8]:
emptyRows = chg17[chg17.isna().any(axis=1)]
emptyRows

Empty DataFrame
Columns: [start_time, end_time, start_station_id, end_station_id, start_station_name, end_station_name, bike_id, user_type]
Index: []

In [9]:
countEmptyRows = len(chg17[chg17.isna().any(axis=1)])
print("There are {} empty rows".format(countEmptyRows))

There are 0 empty rows

As you can see, there are none empty Values

## Usage Visualization:

In [16]:
chg17_timeStamps = chg17.copy()
chg17_timeStamps['start_time'] = pd.to_datetime(chg17_timeStamps['start_time'])
chg17_timeStamps['end_time'] = pd.to_datetime(chg17_timeStamps['end_time'])

In [18]:
chg17_timeStamps.head()

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type
0,2017-03-31 23:59:07,2017-04-01 00:13:24,66,171,Clinton St & Lake St,May St & Cullerton St,5292,Subscriber
1,2017-03-31 23:56:25,2017-04-01 00:00:21,199,26,Wabash Ave & Grand Ave,McClurg Ct & Illinois St,4408,Subscriber
2,2017-03-31 23:55:33,2017-04-01 00:01:21,520,432,Greenview Ave & Jarvis Ave,Clark St & Lunt Ave,696,Subscriber
3,2017-03-31 23:54:46,2017-03-31 23:59:34,110,142,Dearborn St & Erie St,McClurg Ct & Erie St,4915,Subscriber
4,2017-03-31 23:53:33,2017-04-01 00:00:28,327,331,Sheffield Ave & Webster Ave,Halsted St & Blackhawk St (*),4247,Subscriber

In [34]:
chg17_timeStamps["Daaate"] = chg17_timeStamps["start_time"].apply(lambda x: x.date()) 
chg17_timeStamps["Hour"] = chg17_timeStamps["start_time"].apply(lambda x: x.hour) 
chg17_timeStamps["Weekday"] = chg17_timeStamps["start_time"].apply(lambda x: x.weekday()) 
chg17_timeStamps["Week"] = chg17_timeStamps["start_time"].apply(lambda x: x.isocalendar()[1]) 
chg17_timeStamps["Month"] = chg17_timeStamps["start_time"].apply(lambda x: x.month) 
chg17_timeStamps.head()

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type,Daaate,Hour,Weekday,Week,Month
0,2017-03-31 23:59:07,2017-04-01 00:13:24,66,171,Clinton St & Lake St,May St & Cullerton St,5292,Subscriber,2017-03-31,23,4,13,3
1,2017-03-31 23:56:25,2017-04-01 00:00:21,199,26,Wabash Ave & Grand Ave,McClurg Ct & Illinois St,4408,Subscriber,2017-03-31,23,4,13,3
2,2017-03-31 23:55:33,2017-04-01 00:01:21,520,432,Greenview Ave & Jarvis Ave,Clark St & Lunt Ave,696,Subscriber,2017-03-31,23,4,13,3
3,2017-03-31 23:54:46,2017-03-31 23:59:34,110,142,Dearborn St & Erie St,McClurg Ct & Erie St,4915,Subscriber,2017-03-31,23,4,13,3
4,2017-03-31 23:53:33,2017-04-01 00:00:28,327,331,Sheffield Ave & Webster Ave,Halsted St & Blackhawk St (*),4247,Subscriber,2017-03-31,23,4,13,3