#### Import libraries

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
import seaborn as sns

import folium
from folium import plugins
from folium.plugins import HeatMap
from datetime import datetime #for working with times objects
from datetime import timedelta #for working with times objects
import math
import random

In [25]:
chg_2017 = pd.read_csv("chicago_2017.csv")
chg_2017.sort_values(["bike_id","start_time"], inplace=True)
chg_2017.set_index(pd.DatetimeIndex(chg_2017["start_time"]),inplace=True)
chg_2017.drop("start_time", axis=1, inplace=True)

#chg_2017.info()
# Check if the dataframe is complete 
#chg_2017.count()

Fleet Usage during a day, a week and the year:

In [26]:
def get_weekday (ts):
    return ts.weekday()

def get_month (ts):
    return ts.month()

In [27]:
chg_2017.reset_index(inplace=True)
chg_2017["Weekday"]= chg_2017["start_time"].apply(lambda ts: get_weekday(ts))
chg_2017["Month"]= chg_2017["start_time"].apply(lambda x: get_month(x))

TypeError: 'int' object is not callable

In [30]:
chg_2017.head(2000)

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type,Weekday
0,2017-01-13 18:04:29,1/13/2017 18:15:04,52,91,Michigan Ave & Lake St,Clinton St & Washington Blvd,1,Subscriber,4
1,2017-01-13 19:06:32,1/13/2017 19:18:32,91,331,Clinton St & Washington Blvd,Halsted St & Blackhawk St (*),1,Subscriber,4
2,2017-01-14 17:03:14,1/14/2017 17:16:19,331,212,Halsted St & Blackhawk St (*),Orleans St & Ohio St,1,Subscriber,5
3,2017-01-15 12:47:34,1/15/2017 12:57:51,212,49,Orleans St & Ohio St,Dearborn St & Monroe St,1,Subscriber,6
4,2017-01-17 08:17:54,1/17/2017 08:23:11,149,148,Calumet Ave & 33rd St,State St & 33rd St,1,Subscriber,1
...,...,...,...,...,...,...,...,...,...
1995,2017-02-06 08:48:45,2/6/2017 08:51:21,296,117,Broadway & Belmont Ave,Wilton Ave & Belmont Ave,5,Subscriber,0
1996,2017-02-06 16:45:00,2/6/2017 16:47:29,117,299,Wilton Ave & Belmont Ave,Halsted St & Roscoe St,5,Subscriber,0
1997,2017-02-08 09:08:52,2/8/2017 09:11:23,81,52,Daley Center Plaza,Michigan Ave & Lake St,5,Subscriber,2
1998,2017-02-09 17:14:27,2/9/2017 17:17:35,98,44,LaSalle St & Washington St,State St & Randolph St,5,Subscriber,3
1999,2017-02-09 18:42:18,2/9/2017 18:47:20,44,199,State St & Randolph St,Wabash Ave & Grand Ave,5,Subscriber,3