# Team Assignment - the descriptive Task

#### First Step: Importing

In [37]:
import pandas as pd
from datetime import datetime, timedelta

chg17 = pd.read_csv("chicago_2017.csv")

#### Second Step: Validate and review the Data

In [30]:
chg17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3829014 entries, 0 to 3829013
Data columns (total 8 columns):
 #   Column              Dtype
---  ------              -----
 0   start_time          object
 1   end_time            object
 2   start_station_id    int64
 3   end_station_id      int64
 4   start_station_name  object
 5   end_station_name    object
 6   bike_id             int64
 7   user_type           object
dtypes: int64(3), object(5)
memory usage: 233.7+ MB

In [31]:
# chg17.describe()

In [32]:
chg17.head()

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type
0,3/31/2017 23:59:07,4/1/2017 00:13:24,66,171,Clinton St & Lake St,May St & Cullerton St,5292,Subscriber
1,3/31/2017 23:56:25,4/1/2017 00:00:21,199,26,Wabash Ave & Grand Ave,McClurg Ct & Illinois St,4408,Subscriber
2,3/31/2017 23:55:33,4/1/2017 00:01:21,520,432,Greenview Ave & Jarvis Ave,Clark St & Lunt Ave,696,Subscriber
3,3/31/2017 23:54:46,3/31/2017 23:59:34,110,142,Dearborn St & Erie St,McClurg Ct & Erie St,4915,Subscriber
4,3/31/2017 23:53:33,4/1/2017 00:00:28,327,331,Sheffield Ave & Webster Ave,Halsted St & Blackhawk St (*),4247,Subscriber

In [13]:
emptyRows = chg17[chg17.isna().any(axis=1)]
countEmptyRows = chg17[chg17.isna().any(axis=1)]
emptyRows

Empty DataFrame
Columns: [start_time, end_time, start_station_id, end_station_id, start_station_name, end_station_name, bike_id, user_type]
Index: []

As you can see, there are none empty Values

## Usage Visualization:

In [38]:
chg17.head()

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type
0,3/31/2017 23:59:07,4/1/2017 00:13:24,66,171,Clinton St & Lake St,May St & Cullerton St,5292,Subscriber
1,3/31/2017 23:56:25,4/1/2017 00:00:21,199,26,Wabash Ave & Grand Ave,McClurg Ct & Illinois St,4408,Subscriber
2,3/31/2017 23:55:33,4/1/2017 00:01:21,520,432,Greenview Ave & Jarvis Ave,Clark St & Lunt Ave,696,Subscriber
3,3/31/2017 23:54:46,3/31/2017 23:59:34,110,142,Dearborn St & Erie St,McClurg Ct & Erie St,4915,Subscriber
4,3/31/2017 23:53:33,4/1/2017 00:00:28,327,331,Sheffield Ave & Webster Ave,Halsted St & Blackhawk St (*),4247,Subscriber

In [ ]:
chg17_timeStamps = chg17.copy()
chg17_timeStamps.set_index(pd.DatetimeIndex(chg17_timeStamps["start_time"]),inplace=True)
chg17_timeStamps.drop("start_time", axis=1, inplace=True)

In [ ]:
chg17_timeStamps.head

In [34]:
def get_month(x):
    x.month

chg17_timeStamps["Month"] = chg17_timeStamps["start_time"].apply(lambda x: get_month(x)) 
chg17_timeStamps.head()

KeyError: 'start_time'

In [ ]:
chg17.head(20)